<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <meta charset="UTF-8">
        <title>Bookworm Reviews</title>

        <link rel="stylesheet" href="../stylesheets/about.css" />
    </head>

    <body ng-app="Bookworm Reviews" ng-controller="AboutController">
        <main class="container">
            <article class="blurb">
                <h3>Jasmine Taylor</h3>
                <p>I'm just a simple college student, trying to become the best editor that the industry
                ever knew.</p>
            </article>
        </main>
    </body>
</html>