<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <link rel="stylesheet" href="../stylesheets/blogPost.css"/>
        <title>Bookworm Reviews</title>
    </head>
    <body ng-app="Bookworm Reviews" ng-controller="BlogController">
        <article class="container">
            <header>
                <h1 class="book-title"> {{ blog.bookTitle }}</h1>
                <h2 class="book-author"> {{ blog.bookAuthor }}</h2>
                <h6 class="blog-pub-date"> {{ blog.blogPubDate | date }}</h6>
                <div id="blog-text">
                    <p class="text" ng-repeat="paragraph in paragraphs"><!--TODO: Use for indents<span style="margin-left: 40px;"></span>--> {{ paragraph }} </p>
                </div>
            </header>

            <footer>

            </footer>
        </article>

        <hr>

        <section id="comments-section">
            <div class="create comment-container">
                <form id="create-comment">
                    <label id="comment-label" for="comment-text">Leave a comment:</label>
                    <label>
                        Name: <input type="text" id="commenter" ng-model="commentation.commenter" placeholder="Anonymous"/>
                    </label>
                    <textarea ng-model="commentation.body" name="comment" id="comment-text"></textarea>
                    <input type="button" id="submit-comment" value="post"  ng-click="submitComment()"/>
                </form>
            </div>

            <div class="comment-container" id="comments">
                <article class="comment" ng-repeat="comment in comments">
                    <header class="comment-info">
                        <p class="commenter">{{ comment.commenter }}</p>
                        <p class="comment-date"> {{ comment.date | date }}</p>
                    </header>

                    <p class="comment-text">{{ comment.body }}</p>

                    <footer class="comment-votes">
                        <p class="up-votes votes">{{ comment.votes.up }}</p>
                        <p class="down-votes votes"> {{ comment.votes.down }}</p>
                    </footer>
                </article>
            </div>
        </section>
    </body>
</html>