<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <link rel="stylesheet" href="../stylesheets/blogPost.css"/>
        <title>Bookworm Reviews</title>
    </head>
    <body ng-app="Bookworm Reviews" ng-controller="BlogController">
        <article class="container">
            <header>
                <h1 class="book-title"> {{ bookTitle }}</h1>
                <h2 class="book-author"> {{ bookAuthor }}</h2>
                <h6 class="blog-pub-date"> {{ blogPubDate | date }}</h6>
                <div class="blog-text">
                    <p class="text" ng-repeat="paragraph in paragraphs"> {{ paragraph }} </p>
                </div>
            </header>

            <footer>

            </footer>
        </article>
    </body>
</html>