<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <link rel="stylesheet" href="../stylesheets/home.css"/>
        <title>Bookworm Reviews</title>
    </head>
    <body ng-app="Bookworm Reviews" ng-controller="MainController">
        <main class="container">
            <section class="searchBar">
                <label for="SearchBox">Search</label>
                <input type="text" id="SearchBox">
                <input type="submit" id="SearchButton" value="Search">
            </section>

            <div ng-repeat="blog in blogs">
                <article class="blog-post">
                    <header class="blog-header">
                        <h3 class="book-title"> {{blog.bookTitle | uppercase}} </h3>
                        <p class="description"></p>
                    </header>
                    <footer class="blog-footer">
                        <p class="book-published">{{blog.pubDate | date}}</p>
                    </footer>
                </article>
            </div>
        </main>
    </body>
</html>