<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <meta charset="UTF-8">
        <base href="/"/>
        <title>Bookworm Reviews</title>

        <link rel="stylesheet" href="../stylesheets/login.css" />
    </head>
    <body ng-controller="LoginController">
        <md-dialog class="loginContainer">
            <form class="login">
                <div class="container">
                    <div class="pair">
                        <label for="username">Username:</label>
                        <!--<md-input>--><input type="text" id="username" ng-model="login.username" required><!--</md-input>-->
                    </div>

                    <div class="pair">
                        <label for="password">Password:</label>
                        <md-input><input type="password" id="password" ng-model="login.password" required></md-input>
                    </div>

                    <label>
                        Remember Me <md-input><input type="checkbox" id="remember" ng-model="login.remember"></md-input>
                    </label>

                    <md-input><input type="submit" id="submit" ng-click="loginUser()" value="Login"/></md-input>
                </div>
            </form>
        </md-dialog>
    </body>
</html>