<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <meta charset="UTF-8">
        <base href="/"/>
        <title>Bookworm Reviews</title>
    </head>
    <body ng-controller="LoginController">
        <form>
            <label>
                Username: <input type="email" ng-model="login.username" required>
            </label>

            <label>
                Password: <input type="password" ng-model="login.password" required>
            </label>

            <label>
                Remember Me <input type="checkbox" ng-model="login.remember">
            </label>

            <input type="submit" ng-click="loginUser()" />
        </form>
    </body>
</html>