<!DOCTYPE html>
<html lang="en" ng-app="Bookworm Reviews">
    <head>
        <meta charset="UTF-8">
        <title>Bookworm Reviews</title>

        <link rel="stylesheet" href="../stylesheets/request.css" />
    </head>

    <body ng-app="Bookworm Reviews" ng-controller="RequestController">
        <main class="container">
            <form class="request-form">
                <label for="name">Name</label>
                <input name="Name" id="name" required>

                <label for="email">Email Address</label>
                <!-- TODO: Get the email pattern from the email ministry program
                        actually might not be needed since there is an email input type -->
                <input type="email" name="Email" id="email" required>

                <label for="bookTitle">Book Title</label>
                <input type="text" name="BookTitle" id="bookTitle" required>

                <label for="author">Author</label>
                <input type="text" name="Author" id="author" required>

                <label for="extra">Additional Info</label>
                <textarea name="Extra" id="extra" cols="40" rows="4"></textarea>

                <input type="submit" name="Submit" id="Submit" value="Submit" formaction="/api/requests"/>
            </form>
        </main>
    </body>
</html>