.book-title, .book-author, .blog-pub-date {
    text-align: right;
}

#blog-text {
    max-width: 100%;
    margin: 5%;
    line-height: 1.5rem;
}

.container {
    width: 70%;
    text-align: center;
}

#create-comment {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#comment-label {
    text-align: left;
}

#submit-comment {
    margin: 2% 0 1% 85%;
    max-width: 500px;
    width: 100px;
    font-size: 16px;
}

.create {
    margin: 5% 20%;
    padding: 1%;
    border: black 1px solid;
}

.comment-container {
    max-width: 100%;
}

#comment-text {
    overflow: auto;
    resize: none;
    height: 250px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 5px solid rgba(0,0,0,.1);
    width: 60%;
}

.votes {
    font-size: .5rem;
    line-height: 1rem;
    display: inline-block;
}

.comment-info {
    display: inline;
    flex-direction: row;
}

.comment-date {
    text-align: right;
}

.comment {
    max-width: 100%;
    width: 50%;
    margin: 10% auto;
    padding: 0 0 10% 0;
    border-top: black 1px solid;
}

.comment:last-child {
    margin: auto;
}

.commenter {

}