.book-title, .book-author, .blog-pub-date {
    text-align: right;
}

#blog-text {
    max-width: 900px;
    margin: 10%;
    line-height: 1.5rem;
}

.container {
    width: 50%;
    text-align: center;
}

#create-comment {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#comment-label {
    text-align: left;
}

#submit-comment {
    margin: 20px 0 5px 85%;
    max-width: 500px;
    width: 100px;
    font-size: 16px;
}

.create {
    margin: 5% 20%;
    padding: 1%;
    border: black 1px solid;
}

.comment-container {
    max-width: 100%;
}

#comment-text {
    overflow: auto;
    resize: none;
    height: 250px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 5px solid rgba(0,0,0,.1);
    width: 60%;
}